# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# SSH Private Keys
*.pem

# Env / secrets
*.env
secrets.tfvars
*.auto.tfvars

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
